.container div{
    display: flex;
    flex-direction: column;
}

input {
    font-size: 16px;
    padding: 6px;
    margin-bottom: 15px;
    background: #FFFEFB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid rgb(0 0 0 / 29%);
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
}
li{
    padding: 8px;
    cursor: pointer;
}
li:hover,
li.selected {background:#eaf1f180}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, label {
    padding-left: 5px;
}
